.tutorial-tag-count {
  background-color: #00c851;
  padding: 1px 15px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 13px;
  color: white;
}

.star-blue {
  color: #33b5e5;
}

.star-gray {
  color: gray;
}

.iine-pv {
  margin-top: 10px;
  font-size: 14px;

  .pv {
    margin-left: 20px;
    color: #999;
  }
}

