h1 Home#top
/ = javascript_pack_tag 'hello_vue'
/ #hoge
p Find me in app/views/home/top.html.slim
= link_to 'ログアウト', destroy_user_session_path, method: :delete
- if current_user
  = current_user.name
