//footer {
//  position: fixed;
//  bottom: 0;
//  width: 100%;
//}

.github-image {
  border-radius: 50%;
}

.header-logo {
  padding-bottom: 5px;
}

.bg-coderoad {
  background-color: #2196f3 !important;
}