//footer {
//  position: fixed;
//  bottom: 0;
//  width: 100%;
//}

.github-image {
  border-radius: 50%;
}

.header-logo {
  padding-bottom: 5px;
}

.bg-coderoad {
  background-color: #2196f3 !important;
}

.pagination {
  display: inline-block;
}

.pagination span {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination span.current {
  background-color: #4285f4;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination span {
  border: 1px solid #ddd; /* Gray */
}

.search-form {
  //margin-top: 5px !important;
  position: relative;
  margin-left: 20px !important;
  .btn-search {
    margin-top: 0;
  }
  .fa-search {
    position: absolute;
    top: 11px;
    left: 8px;
    color: gray;
  }
  #search {
    padding-left: 30px;
  }
}
