// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero {
  background-color: #f8f9fa;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  text-align: center;
}

.user-group {
  display: flex;
  .user-content {
    margin-left: 10px;
  }
  p {
    margin-bottom: 0;
  }

}

.user-body {
  display: flex;
}

.user-name {
  padding: 20px 0px;
  color: gray;
  h3 {
    color: #0d0d0d;
  }
}

.mytutorial {
  margin-bottom: 5px;
}